<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Avaliação e bonus</title>
</head>

<body>
  <h1>Avaliação</h1>
  <form action="/submit-answers" method="post">
    <fieldset>
      <legend>Assiduidade</legend>
      Pontos<br>
    </fieldset>
    <fieldset>
      <legend>Responsabilidade e Discilplina</legend>
      <input type="radio" name="q2" value="1"> 1 - Insatisfatório<br>
      <input type="radio" name="q2" value="2"> 2 - Mediano<br>
      <input type="radio" name="q2" value="3"> 3 - Exelente<br>
    </fieldset>
    <fieldset>
      <legend>Disponibilidade</legend>
      <input type="radio" name="q3" value="1"> 1 – Insatisfatório: Raramente disponível para aceitar trabalho
      suplementar<br>
      <input type="radio" name="q3" value="2">2 – Mediano: Demonstra com regularidade iniciativa para aceitar trabalho
      suplementar
      <br>
      <input type="radio" name="q3" value="3"> 3 – Excelente: demonstra sistematicamente iniciativa para aceitar
      trabalho suplementar
      <br>
    </fieldset>
    <fieldset>
      <legend>Conhecimento e Expertise (Perfil Técnico, em função do CCT)</legend>
      <input type="radio" name="q4" value="1"> 1 – Inconsistente: trabalhador tem um desempenho irregular, sendo que em
      algumas áreas essenciais fica abaixo do esperado.<br>
      <input type="radio" name="q4" value="2"> 2 – Mediano: trabalhador tem uma performance mediana, apresentando alguns
      erros e necessita de algumas melhorias.<br>
      <input type="radio" name="q4" value="3"> 3 – Eficaz: trabalhador atinge consistentemente os objetivos e trabalha
      de forma eficaz, atingindo o desempenho esperado.<br>
      <input type="radio" name="q4" value="4"> 4 – Muito Eficaz: trabalhador supera consistentemente os objetivos e
      trabalha de forma eficaz, conseguindo muitas vezes ir além do desempenho esperado.
    </fieldset>
    <fieldset>
      <legend>Produtividade</legend>
      <input type="radio" name="q5" value="1"> 1 – Insatisfatório: demonstra resultados abaixo do exigido<br>
      <input type="radio" name="q5" value="2"> 2 - Mediano: apresenta resultados satisfatórios<br>
      <input type="radio" name="q5" value="3"> 3 – Excelente: ultrapassa o volume de trabalho exigido e com
      qualidade<br>
    </fieldset>
    <br>
    <input type="submit" value="Submit">
  </form>
</body>

</html>