<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulário de autoavaliação</title>
  <form action="/form" method="post">
    <p>Critério</p>
    <input type="radio" id="rating1" name="rating" value="1">
    <label for="rating1">Excelente: adere sempre aos procedimentos e regras estipuladas, além de contribuir para a
      manutenção da organização, limpeza e ordem do espaço de trabalho.</label><br>
    <input type="radio" id="rating2" name="rating" value="2">
    <label for="rating2">Mediano: mantém um comportamento satisfatório no cumprimento dos procedimentos e regras
      estipuladas.</label><br>
    <input type="radio" id="rating3" name="rating" value="3">
    <label for="rating3">Insatisfatório: mostra-se resistente a cumprir os procedimentos e regras, e influencia
      negativamente o comportamento da equipa.</label><br>
  </form>

</head>

<body>

</body>

</html>